<style>
li {
    color:white;
}

</style>


<footer class="py-3 mt-5 bg-dark">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/music">Music</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/arts">Arts</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/education">Education</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/health">Health</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/fashion">Fashion</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/festival">Festival</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/sport">Sports</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-white" href="/other">Others</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Global events, Inc</p>
  </footer>