<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow-0">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Global Events</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/create">Create information</a>
				</li>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Events
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="/">All</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/music">Music</a>
					</li>
					<li>
						<a class="dropdown-item" href="/arts">Arts</a>
					</li>
					<li>
						<a class="dropdown-item" href="/education">Education</a>
					</li>
					<li>
						<a class="dropdown-item" href="/health">Health</a>
					</li>
					<li>
						<a class="dropdown-item" href="/fashion">Fashion</a>
					</li>
					<li>
						<a class="dropdown-item" href="/festival">Festival</a>
					</li>
					<li>
						<a class="dropdown-item" href="/sport">Sports</a>
					</li>
					<li>
						<a class="dropdown-item" href="/other">Others</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div></nav>
