{% extends 'base.html.twig' %}

{% block body %}
<style>
.form{
    margin:auto;
    width:40vw;
    min-width: 300px;
}

</style>


<div class="container">
<div class="form mt-5">
<h2 class="page-header text-center">Add Event</h2>

    {{form_start(form)}}

    {{form_widget(form)}}

    {{form_end(form)}}
</div>
</div>
{% endblock %}
