body {
    background-color: rgb(69,69,69);
    font-family: 'Century';
}

header {
    background-color: black;
    color: white;
    height: 7vw;
    text-align: center;
}

header h1 {
    margin:0;
    padding-top: 1vw;
    font-size: 3vw;
}

.contain {
    margin: 2vw;
    padding: 2vw;
}


.card ,.card1{
    
    transition: width 1s, height 1s, transform 0.5s;
}


.card:hover, .card1:hover {
    transform: matrix(1.05, 0, 0, 1.05, 0, 0)
}

footer {
    background-color: black;
    color: white;
    height: 7vw;
    text-align: center;
}

footer h1 {
    margin:0;
    padding-top: 2vw;
    font-size: 2.5vw;
}